<h2>New Comment</h2>
<%= form_for [@ticket, @comment] do |f| %>
  <% if @comment.errors.any? %>
  <div id="error_explanation" %>
    <p><%= pluralize(@comment.errors.count, "Error") %> prohibiting comment from being saved:</p>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </p>

  <% authorized? :"change states", @project do %>
    <p>
      <%= f.label :state_id %>
      <%= f.select :state_id, @states.map {|s| [s.name, s.id]}, selected: @ticket.state_id %>
    </p>
  <% end %>

  <p>
    <%= f.label :tag_names, "Tags" %>
    <%= f.text_field :tag_names %>
  </p>
  <%= f.submit %>
<% end %>