<% title("Projects", @project.name) %>
<h1><%= @project.name %></h1>

<% admin_only do %>
  <%= link_to "Edit Project", edit_project_path(@project) %>
  <%= link_to "Delete Project", @project, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<% authorized? "create tickets", @project do %>
  <%= link_to "Create Ticket", [:new, @project, :ticket] %>
<% end %>
<%= form_tag search_project_tickets_path(@project), method: :get do %>
  <%= label_tag "search" %>
  <%= text_field_tag "search", params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<ul id="tickets">
  <% @tickets.each do |ticket| %>
    <li>
      <%= render ticket.state if ticket.state %>
      <%= ticket.id %>  - <%= link_to ticket.title, [@project, ticket] %>
    </li>
  <% end %>
</ul>